{{#if changepassworderror}}
<div class="container-fluid back-red">
	<div class="row">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3 font-medium">
						Please fix the following before continuing:
						<ul>
							{{#each changepassworderrors}}
							<li>{{this.msg}}</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/if}}
<br />
<br />
<form action="changepassword_submit" method="post">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<div class="form-group">
					<label for="currentpassword">Current Password</label>
					<input type="password" id="currentpassword" name="currentpassword" class="form-control">
				</div>
				<div class="form-group">
					<label for="password">Password (four character minimum)</label>
					<input type="password" id="password" name="password" class="form-control">
				</div>
				<div class="form-group">
					<label for="comfirmpassword">Confirm Password</label>
					<input type="password" id="confirmpassword" name="confirmpassword" class="form-control">
				</div>
				<div class="pull-right">
					<br />
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</div>
</form>

