<br />
<br />
<form action="deleteaccount_submit" method="post">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<div class="form-group">
					<label for="firstname">First Name</label>
					<br />
					<span class="font-medium">{{firstname}}</span>
				</div><div class="form-group">
					<label for="lastname">Last Name</label>
					<br />
					<span class="font-medium">{{lastname}}</span>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<br />
					<span class="font-medium">{{email}}</span>
				</div>
				<div class="pull-right">
					<br />
					<button type="submit" class="btn btn-primary">Delete</button>
				</div>
			</div>
		</div>
	</div>
</form>

